<p id="notice"><%= notice %></p>

<h4><%= @link.title %></h4><br>
<% if @link.image? %>
	<a href="<%= @link.url %>"><img src="<%= @link.url %>"></a>
<% else %>
	<%= @link.url %><br>
<% end %>

<%= link_to 'Back', links_path %>